block variables
    - var title = 'Демография'
    - var grapg = 'График'
    - var filter = 'Фильтр'
    - var sort= 'Сортировка'
    
    -
        var dictMenu = { 
            'Главная страница': 'index.html', 
            'Таблица': "table.html",  
            'Меню 3': "#", 
            'Меню 4': "#"
        }
    //-
        список файлов с рисунками для раздела сайта images
    - 
        var listImages = ['image1.jpg', 'image2.jpg', 'image3.jpg']
    - 
        var listImagesRussia = ['image2.jpg']
    - 
        var TextJopa = ['©️ Ушницкий Т.И., группа 1, 2024-2025']
    //-
        словарь для карточек (раздел section): заголовок, рисунок, текст
    - 
        var listSections = [
            {
                'header': 'Индия', 
                'text': 'Индия самая населенная страна в мире после Китая, сейчас уже ее население составляет около 850млн. Ежегодные темпы прироста населения Индии со­ставляют 1,8%, что значительно выше соответствующего показателя во многих регионах развивающегося мира. Каждый год рождается около 24 млн. детей примерно 8,5 млн. человек умирает – в результате прирост составляет 15,5 млн., что равно населению Австралии.'
            },
            {
                'header': 'Китай',
                'text': 'В 2023 году население Китая сократилось на 2,08 млн человек, или на 0,2%, и составляет сейчас 1,409 млрд человек. Как сообщается в ежегодном докладе Государственного статистического управления КНР, за прошлый год в стране родилось на 5,7% меньше детей, чем годом ранее: 9,02 млн. При этом показатель рождаемости оказался рекордно низким — 6,39 рождений на 1 тыс. жителей.'
            }
        ]


    -
        var listSectionsRussia = [
            {
                'header': 'Россия', 
                'text': 'Россия — многонациональное государство с широким этнокультурным многообразием[24]. Согласно результатам переписей населения России 2010 года, а также переписи аннексированных Крыма и Севастополя 2014 года, в стране живут представители свыше 190 национальностей, среди которых русские составляют свыше 80 %, а русским языком владеют свыше 99,4 % россиян[25]. Бо́льшая часть населения (около 75 %) в религиозном отношении относит себя к православию[26], что делает Россию страной с самым многочисленным православным населением в мире.Россия — федеративная президентско-парламентская республика[5]. С 31 декабря 1999 года (с перерывом в 2008—2012 годах, когда президентом был Дмитрий Медведев) должность президента России занимает Владимир Путин. C 16 января 2020 года в должности председателя правительства находится Михаил Мишустин. За годы правления Путина политический режим России сменился с демократического[27] на авторитарную диктатуру[28][29].'
            }
        ]

    -
        var yesno = ['Первый уровень', 'Второй уровень']

    - 
        var KCYNE = [
            {
                'lv': 'Первый уровень',
                'cont':'Континент',
                'count':'Страна',
                'year':'Год', 
                'naselen':'Население', 
                'exit':'Выход к морю'
            },
            {
                'lv': 'Второй уровень',
                'cont':'Континент',
                'count':'Страна',
                'year':'Год', 
                'naselen':'Население', 
                'exit':'Выход к морю'
            }
        ]
    -
        var Hoe = ['Континент', 'Название страны', 'Год от', 'Численность населения от', 'Выход к морю']

        var N1 = [
            {
                'first' : 'Значение по оси Ox',
                'second' : 'Результат'
            },
        ]

    - 
        var N = [
            {
                'first' : 'Года ',
                'second' : 'Макс. численность населения',
                'numb' : '1'
            },
            {
                'first' : 'Континент ',
                'second' : 'Ср. численность населения',
                'numb' : '2'
            },
            {
                'first' : 'Выход к морю',
                'second' : 'Мин. численность населения',
                'numb' : '3'
            }
        ]


    -
        var listname = ['Континет', 'Страна', 'Год', 'Население', 'Выход к морю']

    - 
        var listSectionsTable = [
             {
                 'continent': 'Евразия',
                 'img': 'india.jpg',
                 'year': '2022',
                 'kolvo': '1438069596',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'india.jpg',
                 'year': '2023',
                 'kolvo': '1425423212',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'china.jpg',
                 'year': '2022',
                 'kolvo': '1422584933',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'china.jpg',
                 'year': '2023',
                 'kolvo': '1425179569',
                 'bool': 'Да'
             },
             {
                 'continent': 'СевернаяАмерика',
                 'img': 'USA.jpg',
                 'year': '2022',
                 'kolvo': '343477335',
                 'bool': 'Да'
             },
             {
                 'continent': 'СевернаяАмерика',
                 'img': 'USA.jpg',
                 'year': '2023',
                 'kolvo': '341534046',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'indonesia.jpg',
                 'year': '2022',
                 'kolvo': '281190067',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'indonesia.jpg',
                 'year': '2023',
                 'kolvo': '278830529',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'pakistan.jpg',
                 'year': '2023',
                 'kolvo': '247504495',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'pakistan.jpg',
                 'year': '2022',
                 'kolvo': '243700667',
                 'bool': 'Да'
             },
             {
                 'continent': 'Африка',
                 'img': 'nigeria.jpg',
                 'year': '2023',
                 'kolvo': '227882945',
                 'bool': 'Да'
             },
             {
                 'continent': 'Африка',
                 'img': 'nigeria.jpg',
                 'year': '2022',
                 'kolvo': '223150896',
                 'bool': 'Да'
             },
             {
                 'continent': 'ЮжнаяАмерика',
                 'img': 'brazil.jpg',
                 'year': '2023',
                 'kolvo': '211140729',
                 'bool': 'Да'
             },
             {
                 'continent': 'ЮжнаяАмерика',
                 'img': 'brazil.jpg',
                 'year': '2022',
                 'kolvo': '210306415',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'ban.jpg',
                 'year': '2023',
                 'kolvo': '171466990',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'ban.jpg',
                 'year': '2022',
                 'kolvo': '169384897',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'russia.jpg',
                 'year': '2023',
                 'kolvo': '145440500',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'russia.jpg',
                 'year': '2022',
                 'kolvo': '145579899',
                 'bool': 'Да'
             },
             {
                 'continent': 'ЮжнаяАмерика',
                 'img': 'mexico.jpg',
                 'year': '2023',
                 'kolvo': '129739759',
                 'bool': 'Да'
             },
             {
                 'continent': 'ЮжнаяАмерика',
                 'img': 'mexico.jpg',
                 'year': '2022',
                 'kolvo': '123739759',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'efi.jpg',
                 'year': '2022',
                 'kolvo': '128613117',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'efi.jpg',
                 'year': '2023',
                 'kolvo': '122613117',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'japan.jpg',
                 'year': '2023',
                 'kolvo': '124370947',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'japan.jpg',
                 'year': '2022',
                 'kolvo': '124997578',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'fil.jpg',
                 'year': '2023',
                 'kolvo': '114891199',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'fil.jpg',
                 'year': '2022',
                 'kolvo': '113964338',
                 'bool': 'Да'
             },
             {
                 'continent': 'Африка',
                 'img': 'egy.jpg',
                 'year': '2023',
                 'kolvo': '114535772',
                 'bool': 'Да'
             },
             {
                 'continent': 'Африка',
                 'img': 'egy.jpg',
                 'year': '2022',
                 'kolvo': '112618250',
                 'bool': 'Да'
             },
             {
                 'continent': 'Африка',
                 'img': 'drk.jpg',
                 'year': '2023',
                 'kolvo': '105789731',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'vie.jpg',
                 'year': '2022',
                 'kolvo': '102396968',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'iran.jpg',
                 'year': '2022',
                 'kolvo': '90608707',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'iran.jpg',
                 'year': '2023',
                 'kolvo': '89524246',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'tur.jpg',
                 'year': '2023',
                 'kolvo': '87270501',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'tur.jpg',
                 'year': '2022',
                 'kolvo': '87070501',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'ger.jpg',
                 'year': '2023',
                 'kolvo': '84548231',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'ger.jpg',
                 'year': '2022',
                 'kolvo': '84086227',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'tha.jpg',
                 'year': '2023',
                 'kolvo': '71702435',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'tha.jpg',
                 'year': '2022',
                 'kolvo': '71735329',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'bri.jpg',
                 'year': '2023',
                 'kolvo': '68.682.962',
                 'bool': 'Да'
             },
             {
                 'continent': 'Евразия',
                 'img': 'bri.jpg',
                 'year': '2022',
                 'kolvo': '68.179.315',
                 'bool': 'Да'
             }
         ]