block variables
    - var title = 'Демография'
    
    //-
        словарь для описания меню: элемент меню и название файла
    -
        var dictMenu = { 
            'Главная страница': 'index.html', 
            'Таблица': "table.html",  
            'Меню 3': "#", 
            'Меню 4': "#"
        }
    //-
        список файлов с рисунками для раздела сайта images
    - 
        var listImages = ['image2.jpg']

    - 
        var TextJopa = ['©️ Ушницкий Т.И., группа 1, 2024-2025']
    //-
        словарь для карточек (раздел section): заголовок, рисунок, текст
     
    -
        var listSections = [
            {
                'header': 'Россия', 
                'text': 'Россия — многонациональное государство с широким этнокультурным многообразием[24]. Согласно результатам переписей населения России 2010 года, а также переписи аннексированных Крыма и Севастополя 2014 года, в стране живут представители свыше 190 национальностей, среди которых русские составляют свыше 80 %, а русским языком владеют свыше 99,4 % россиян[25]. Бо́льшая часть населения (около 75 %) в религиозном отношении относит себя к православию[26], что делает Россию страной с самым многочисленным православным населением в мире.Россия — федеративная президентско-парламентская республика[5]. С 31 декабря 1999 года (с перерывом в 2008—2012 годах, когда президентом был Дмитрий Медведев) должность президента России занимает Владимир Путин. C 16 января 2020 года в должности председателя правительства находится Михаил Мишустин. За годы правления Путина политический режим России сменился с демократического[27] на авторитарную диктатуру[28][29].'
            }
        ]
